In [32]:
##Explain with an example each when to use a for loop and a while loop.

In [33]:
"""For Loop:
A for loop is generally used when we know the number of times we need to execute the loop. It is an ideal choice when we have a collection of items like a list, tuple, or string, and we want to iterate over each item in the collection.

For example, let's say we have a list of numbers, and we want to print each number in the list:"""
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [34]:
"""While Loop:
A while loop is used when we don't know the number of times we need to execute the loop. It is typically used when we have a condition that needs to be met for the loop to continue executing. The loop will continue to run until the condition becomes false.

For example, let's say we want to keep asking the user for their name until they enter a non-empty string:"""

name = ''

while not name:
    name = input("Please enter your name: ")

print("Hello,", name)

Please enter your name:  Lokendra

Hello, Lokendra

In [ ]:
## Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [22]:
result = 1
for i in range(2,11):
    result = result + i
print(result)

55

In [23]:
result = 1
for i in range(2,11):
    result = result * i
print(result)

3628800

In [29]:
result = 0
counter = 1
while counter<=10:
    result = result + counter
    counter = counter+1
print(result)

55

In [31]:
result = 1
counter = 1
while counter<=10:
    result = result * counter
    counter = counter+1
print(result)

3628800

In [32]:
## Q2
##The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
#be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
#You are required to take the units of electricity consumed in a month from the user as input.
#Your program must pass this test case: when the unit of electricity consumed by the user in a month is
#310, the total electricity bill should be 2250.

In [6]:
units_consumed = int(input("Enter the number of Units you consumed this month :- " ))
if units_consumed <=100:
    charges = units_consumed * 4.5
elif units_consumed <=200:
    charges = (100*4.5)+((units_consumed - 100)*6)
elif units_consumed<=300:
    charges = (100*4.5)+(100*6)+((units_consumed - 200)*10)
else: 
    charges = (100*4.5)+(100*6)+(100*10)+((units_consumed - 300)*20)
print("Total Bill is :- ", charges)

Enter the number of Units you consumed this month :-  310

Total Bill is :-  2250.0

In [7]:
##Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
##number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
##that list.

In [10]:
l1 = list(range(1,101))

In [11]:
l1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [22]:
l2=[]
for i in l1:
    if ((i*i*i)%4)==0 or ((i*i*i)%5)==0:
        l2.append(i)
l2

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [23]:
l3=[]
i=1
while i <=100:
    i = i+1
    if ((i*i*i)%4)==0 or ((i*i*i)%5)==0:
        l3.append(i)
l3

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [24]:
##Write a program to filter count vowels in the below-given string.
##string = "I want to become a data scientist"

In [30]:
string = "I want to become a data scientist"

vowels = ['a', 'e', 'i', 'o', 'u']
vowel_count = 0

for char in string:
    if char.lower() in vowels:
        vowel_count += 1

print("The number of vowels in the string is:", vowel_count)

The number of vowels in the string is: 12